h1 {
	padding: 3%;
}

#form_registro{
	background-image: url(opcion5.jpg);
	padding-bottom: 5%;
	padding-right: 5%;
}

button {
	margin-top: 4%;
	color:black;

}

#imagen_perfil img {
	width: 80%;
	height: 50%;
}

#imagen_perfil {
	padding-left: 3%;
}

#info_perfil {
	padding-left: 3%
}