{%  extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
  Acrualiza tu foto
{% endblock %}

{% block content %}
<div>
	<form role="form" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
	<div class="col-md-offset-2">
		{% bootstrap_form form layout="horizontal" %}
	</div>

	<button id="actualizar" type="submit" class="btn btn-primary col-sm-offset-6">Actualizar</button>
	  <!--<input type="submit" value="Enviar" /> -->
	</form>
</div>
{% endblock content %}
