{% extends 'base.html' %}

{% block title %}
  Edita tu Perfil
{% endblock %}

{% block content%}

<div class="col-md-offset-4">
	<h1 id="pregunta_edita" >¿Que deseas cambiar?</h1>
	<div class="col-md-offset-1">
		<a id="editar_nombre" href = "/set_name"> <button class="btn btn-primary"> Nombre </button></a>
		<a id="editar_correo" href = "/set_email"> <button class="btn btn-primary"> Correo </button></a>
		<a id="editar_contrasena" href = "/set_password"> <button class="btn btn-primary"> Password </button></a>
		<a id="editar_imagen" href = "/fotoUsu"> <button class="btn btn-primary"> Imagen de Perfil </button></a>
	</div>

</div>


{% endblock content%}
