{% extends 'base.html' %}

{% block title %}
  Editar Post
{% endblock %}

{% block content%}

    	<form  method="post">
		{% csrf_token %}
	  <div class="form-group">
	    <label for="titulo">Título</label>
	    <input type="text" name="titulo" id="titulo" class="form-control" value="{{titulo}}">
	  </div>

	  <div class="form-group">
	    <label for="texto">Texto</label>
	    <input type="text" name="texto" id="texto" class="form-control" value="{{texto}}">
	  </div>

	  <div class = "col-md-offset-7">
		<button id="publicar" type="submit" class="btn btn-primary">Publicar</a></button>
	  </div>
	</form>
  {% if messages %}
    <div class="row">
      <!-- <div class='col-sm-12'> -->
      <div class='col-sm-6 '>
        {% for message in messages %}
          {% if message.tags == "success" %} <p id="success" class="alert alert-success">{{ message }}</p> {% endif %}
          {% if message.tags == "error" %} <p id="error" class="alert alert-danger">{{ message }}</p> {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

{% endblock content%}
