{% extends 'base.html' %}

{% block title %}
  Editar Post
{% endblock %}

{% block content%}

    <form role="form">
	  <div class="form-group">
	    <label for="titulo">Título</label>
	    <input type="text" class="form-control" id="titulo" href="/edit_post" value="{{titulo}}">
	  </div>
	
	  <div class="form-group">
	    <label for="titulo">Texto</label>
	    <input type="text" class="form-control" id="titulo" href="/edit_post" value="{{texto}}">
	  </div>

	  <div class = "col-md-offset-7">
		<button type="submit" class="btn btn-primary"><a href="/mi_perfil"style="color:white">Publicar</a></button>
	  </div>
	</form>

{% endblock content%}