{%  extends 'base_formularios.html' %}
{% load bootstrap3 %}


{% block title %}
  ¡Únete a pretec!
{% endblock %}
{% block content %}
<div id = "form_registro">
	<form role="form" class="form-horizontal" action="#" method="post">{% csrf_token %}
	  <!-- {{ form.as_p }} -->
	{% if form.errors %}
	  	{% for field in form %}
	  		<div class = "error_message">
	  			{{ field.errors }}
			</div>
		{% endfor %}
	{% endif %}

  {% if messages %}
    <div id="error" class="row">
      <!-- <div class='col-sm-12'> -->
      <div  class='col-sm-6 col-sm-offset-3'>
        {% for message in messages %}
          {% if message.tags == "success" %} <p class="alert alert-success">{{ message }}</p> {% endif %}
          {% if message.tags == "error" %} <p id="error" class="alert alert-danger">{{ message }}</p> {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
	{% bootstrap_form form layout="horizontal" %}
	<button id="Registrarse" type="submit" class="btn btn-primary col-sm-offset-6">Registrarse</button>
	  <!--<input type="submit" value="Enviar" /> -->
	</form>
</div>
{% endblock content %}
