{% extends 'base.html' %}
% load bootstrap3 %}
{% load static %}



{% block title %}
  Home
{% endblock %}
{% block content%}
<!--left-->
  <div class="col-sm-3">
    	<div class="panel panel-default" id="home_izq">
         	<div class="panel-heading">Pretec</div>
         	<div class="panel-body">Mantente informado del mundo tecnológico. ¡Hay posts nuevos cada día!</div>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">¿Buscas algo en especial?</div>
            <div class="panel-body"><a href="/busquedaPosts"> Buscar Posts</a></div>
        </div>
        <hr>
        <div class="panel panel-default">
         	<div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Encuentra a tus amigos</div>
         	<div class="panel-body"><a id="Buscar_Amigos" href="/busquedaUsu"> Buscar amigos</a></div>
        </div>
        <hr>

  </div><!--/left-->

  <div class="col-md-7 col-md-offset-1">
      {% for item in user_data %}
        <h2>{{item.titulo}}</h2>
        <p>{{item.texto}}</p>
        <p class="pull-right list-inline"><a href="/perfil/{{item.pseudonimo.pseudonimo}}">{{item.pseudonimo.pseudonimo}}</a> {{item.fecha}}</p>
        <p class="pull-right list-inline"></p>
        <br>
        <hr>
      {% endfor %}
  </div>


{% endblock content%}
