{% extends 'base.html' %}
% load bootstrap3 %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content%}
<!--left-->
  <div class="col-sm-3">
    	<div class="panel panel-default" id="home_izq">
         	<div class="panel-heading">Title</div>
         	<div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.</div>
        </div>
        <hr>
        <div class="panel panel-default">
         	<div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Encuentra a tus amigos</div>
         	<div class="panel-body"><a href=""> Buscar amigos</a></div>
        </div>
        <hr>
        <div class="panel panel-default">
         	<div class="panel-heading">Title</div>
         	<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.</div>
        </div>
        <hr>
        <div class="panel panel-default">
         	<div class="panel-heading">Title</div>
         	<div class="panel-body">Content here..</div>
        </div>
        <hr>
  </div><!--/left-->

  <div class="col-md-7 col-md-offset-1">
      {% for item in user_data %}
        <h2>{{item.titulo}}</h2>
        <p>{{item.texto}}</p>
        <p class="pull-right list-inline">{{item.pseudonimo.pseudonimo}} {{item.fecha}}</p>
        <p class="pull-right list-inline"></p>
        <br>
        <hr>
      {% endfor %}
  </div>


{% endblock content%}
