{% extends 'base.html' %}

{% block title %}
  Perfil
{% endblock %}

{% block content%}
<div class="col-md-offset-1" id="contenedor_perfil">
	<div class="row" id="imagen_perfil">
  <!-- si el usuarrio esta en su perfil podra cambiar su foto de perfli, sino no-->
  {% if pseudonimo == logueado %}
		<div class="col-md-3" >
      {% if foto_usu %}
        <a href="/fotoUsu"><img src="../../static/uploads/{{foto_usu}}" style="height:30%%"></a>
      {% else %}
        <a href="/fotoUsu"><img src="../../static/uploads/defecto.jpg" style="height:30%%"></a>
      {% endif %}
  {% else %}
    <div class="col-md-3" >
    {% if foto_usu %}
      <img src="../../static/uploads/{{foto_usu}}">
    {% else %}

      <img src="../../static/uploads/defecto.jpg">
    {% endif %}
			<!--<a href="/fotoUsu"><img src="../../static/imagenes/opcion5.jpg"></a>-->
  {% endif %}

		</div>

		<div class="col-md-8">
			<h2 id="id_{{pseudonimo}}" >{{pseudonimo}}</h2>
      {% if messages %}
    <div class="row">
      <!-- <div class='col-sm-12'> -->
      <div class='col-sm-6 '>
        {% for message in messages %}
          {% if message.tags == "success" %} <p  id="success" class="alert alert-success">{{ message }}</p> {% endif %}
          {% if message.tags == "error" %} <p class="alert alert-danger">{{ message }}</p> {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
    <div>
      <form method="post">{% csrf_token %}
        <div class="form-group ocultar" style='display:none;'>
            <select  name="seguir" id="seguir">
              <option value="{{pseudonimo}}" checked>{{pseudonimo}}</option>
            </select>
        </div>
        {% if pseudonimo == logueado %}

        {% else %}
          <button id="btn_seguir" type="submit" class="btn btn-primary" >Seguir</button>
        {% endif %}



      </form>
    </div>
		</div>

	</div>

	<hr>

	<div class="row">
		<div class="col-md-3" id="info_perfil">
			<a id="seguidores" href="/seguidores"><label>Seguidores: {{seguidores}}</label></a><br>
			<a id="siguiendo" href="/siguiendo"><label>Sigues: {{sigue}}</label></a><br>
			<label>Posts: {{posts}}</label><br>

		</div>

		<div class="col-md-7">
    {% if borrar %}

    <div >
      <p id="content" style="color:red">Post eliminado correctamente</p>

    </div>
    {% endif %}
			{% for item in user_data %}
				<h2>{{item.titulo}}</h2>
				<p>{{item.texto}}</p>

        {% if pseudonimo == logueado %}
          <p id="id_post" style="display:none">{{item.id}}</p>
          <a href = "/editar_post/{{item.id}}"> <button id="Editar_post" class="btn-info btn btn-xs"> Editar </button></a>
          <a href = "/mi_perfil/delete/{{item.id}}"> <button id="Eliminar_post" class="btn-info btn btn-xs btn-danger"> Eliminar </button></a>
          <p class="pull-right list-inline">{{item.fecha}}</p>
          <br>
          <hr>
        {% endif %}


			{% endfor %}
		</div>



	</div>
</div>


<script type="text/javascript">
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}

window.onload = function() {
  // alert(getCookie('lo_sigo'));
  aux = getCookie('lo_sigo');
  if(aux == 'yes'){
    $('#btn_seguir').text('Dejar de Seguir');
  }
  else{
    $('#btn_seguir').text('Seguir');
  }
};
</script>





{% endblock content %}
