{% extends 'base.html' %}

{% block title %}
  Perfil
{% endblock %}

{% block content%}
<div class="row" id="imagen_perfil">
	<div class="col-md-3" >
		<img src="../../static/css/opcion5.jpg">
	</div>

	<div class="col-md-3">
		<h2>{{pseudonimo}}</h2>
		<button type="submit" class="btn btn-primary">Seguir</button>

	</div>
</div>

<div class="row" id="info_perfil">
	<div class="col-md-1">
		<label>Seguidores</label>
		<label>Seguidos</label>
		<label>Posts</label>
	</div>
</div>


 <a href = "/logout"> <button> logout </button></a>

{% endblock content%}
