{%  extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Crea tu micropost
{% endblock %}
{% block content %}

<!--<script type="text/javascript" src="/static/js/scriptfecha.js"> </script> -->
<form role="form" id="form_post" class="form-horizontal" action="#" method="post">{% csrf_token %}
	<script>

	$(document).ready(function(){

		var x = $("#id_fecha").attr('readonly',true);

	});

	</script>

	{% bootstrap_form form layout="horizontal" %}
  <button id="Enviar" type="submit" class="btn btn-primary col-sm-offset-6">Registrarse</button>
	<!-- <div id="Enviar" class = "col-md-offset-7">
		{% buttons submit='Enviar'%}{% endbuttons %}
	</div> -->
</form>
{% endblock content %}
