{%  extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
  Crea tu micropost
{% endblock %}

{% block content %}
<script type="text/javascript" src="static/js/scriptfecha.js"> </script>
<h2> Bienvenido {{pseudonimo}} </h2>
<form role="form" class="form-horizontal" action="#" method="post">{% csrf_token %}
  <!-- {{ form.as_p }} -->
{% bootstrap_form form layout="horizontal" %}
{% buttons submit='Enviar'%}{% endbuttons %}
  <!--<input type="submit" value="Enviar" /> -->
</form>
{% endblock content %}
